.section-news {
  background-color: #fffaf0;
}

.section-news h2 {
  font-size: 24px;
  letter-spacing: 0.4px;
}

.section-news .gallery .item {
  box-shadow: 0 0 5px 5px rgb(97, 95, 95);

  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 100%;
  background-color: #efefef;
  position: relative;
}

.section-news .gallery a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-news .gallery a:hover .img-title {
  opacity: 1;
  transition: opacity 0.5s;
}

.section-news .gallery .img-title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  color: white;
}

.section-news .gallery img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.pt-60px {
  padding-top: 60px;
}

.pb-60px {
  padding-bottom: 60px;
}